/* App.css */
*{
  padding: 0;
  margin: 0;
}
/* Parent container styles */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
}

/* Sidebar container */
.sidebar-container {
  width: 20vw; /* Fixed width for the sidebar */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Main content area for the map and options */
.main-content {
  width: 80vw;
}

/* Map and options container styling */
.map-n-info {
  width: 100%; /* Ensure full width inside main content */
  height: 100%; /* Full height within main content */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
